/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html
{
    font-size:10px;
}
h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 5px;
}
body {
    font-family: "Space Mono", monospace;
    font-size:1.6rem;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    line-height: 25px;
}
p{
    text-indent:1.25rem;
}
aside ul, section ul,section ol{
    list-style-type:bengali;
}

section a {
    color: #a66;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

    section a:hover {
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

section ol li{
    margin-left:1rem;
}
section p a::after {
    content: '\1F517';
    margin-left: 0.5rem;
}

aside a {
    transform: scale(1.1);
    color: #a66;
}
    aside a:hover {
        text-decoration: none;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

nav li {
    border: 2px solid #a66;
    border-radius: 10%;
    margin-bottom: 3rem;
    background-color: white;
    padding: 2rem 4rem;
    list-style-type: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav a {
    text-decoration: none;
    color: #a66;
}
nav li:hover {
    background-color: lightblue;
    transform: translateX(-10px) scale(1.1);
}
